.mod_article .article_bg {
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    z-index: 1; 
    .inside { min-height: 100%; height: 100%; }
    img { object-fit: cover; min-height: 100%; width: 100%; } 
    video { min-height: 100%; min-width: 100%; object-fit: cover; 
        @media(min-width:1921px){ width: 100%; }
    } 
    &.image .inside { @media(max-width:1023px){ display: var(--background_image_mobile, block); } }
    &.video .inside { @media(max-width:1023px){ display: var(--background_video_mobile, block); } }
}

html body .mod_article { position: relative;
	&.has_img {
		--article_min_height: 26vw;
	}
	&.article_bg_color { background: var(--article_bg_color, #fff); }
	&.font_color, 
	&.font_color .rte, 
	&.font_color h1, 
	&.font_color h2, 
	&.font_color h3, 
	&.font_color h4, 
	&.font_color h5, 
	&.font_color h6 { color: var(--font_color);
        a { color: var(--font_color); 
            &:hover { color: var(--font_color); text-decoration: underline; }
        }
    }
}

.mod_article:first-child .article_bg.jarallax picture { max-height: calc( var(--element-height) + 70px ); }
